<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.stickerSDME.sampleStickerStickerApp">

    <application
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name="com.stickerSDME.sampleStickerStickerApp.StickerApplication"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name="com.stickerSDME.sampleStickerStickerApp.EntryActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.stickerSDME.sampleStickerStickerApp.StickerPackListActivity"/>
        <activity
            android:name="com.stickerSDME.sampleStickerStickerApp.StickerPackDetailsActivity"
            android:parentActivityName="com.stickerSDME.sampleStickerStickerApp.StickerPackListActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stickerSDME.sampleStickerStickerApp.StickerPackListActivity" />
        </activity>
        <activity
            android:name="com.stickerSDME.sampleStickerStickerApp.StickerPackInfoActivity"
            android:label="@string/title_activity_sticker_pack_info"
            android:parentActivityName="com.stickerSDME.sampleStickerStickerApp.StickerPackDetailsActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.stickerSDME.sampleStickerStickerApp.StickerPackDetailsActivity" />
        </activity>

        <provider
            android:name="com.stickerSDME.sampleStickerStickerApp.StickerContentProvider"
            android:authorities="${contentProviderAuthority}"
            android:enabled="true"
            android:exported="true"
            android:readPermission="com.whatsapp.sticker.READ" />


        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
                <!-- TODO: Replace with your real AdMob app ID -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8441934830415595~7194365758"/>


    </application>
</manifest>
